@using Web_BanHang.Models;
@model List<GioHang>
@{ ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@*<h2> Giỏ Hàng </h2>
    <table class="table">
        <tr>
            <th> Ảnh bìa</th>
            <th>Tên sách</th>
            <th> Đơn giản</th>
            <th>Số lượng</th>

            <th>Thành tiền</th>
        </tr>
        <tr>
            @foreach (var item in Model)
            {

                <td>@item.sTenSach</td>
                <td> </td>
                <td>@String.Format("{0:0,0}", item.dDonGia)</td>
                <td>@item.iSoLuong</td>

                <td> @String.Format("{0:0,0}", item.dThanhTien) VNĐ</td>
            }
        </tr>
    </table>*@
<h2 class="text-center">Giỏ Hàng </h2>

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:20%">Tên sản phẩm</th>
                <th style="height:5%; width:15%">Ảnh sản phẩm </th>
                <th style="width:10%">Giá</th>
                <th style="width:8%">Số lượng</th>
                <th style="width:22%" class="text-center">Đơn Giá</th>
                <th style="width:10%">Thành tiền </th>
            </tr>
        </thead>
 
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h5>@item.sTenSach</h5>
                                </div>
                            </div>
                        </td>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach =item.iMaSach})">
                                        <img src="@Url.Content("~/HinhAnh/"+item.sAnhBia)" alt="Image" />
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@String.Format("{0:0,0}", item.dDonGia) VND</td>

                        <td data-th="Quantity">
                            <input class="form-control text-center" value="@item.iSoLuong" type="number">
                            @*@Html.TextBox("txtSoLuong") @item.iSoLuong*@
                        </td>
                        <td data-th="Subtotal" class="text-center">@String.Format("{0:0,0}", item.dDonGia)</td>
                        <td> @String.Format("{0:0,0}", item.dThanhTien)</td>
                        <td class="actions" data-th="">
                            <a href="@Url.Action("SuaGioHang","GioHang",new { amount = item.iSoLuong }) ">
                                <button class="btn btn-info btn-sm">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>
                            <a href="@Url.Action("XoaGioHang", new { @iMaSP =item.iMaSach})" onclick="return confirm('bạn có chắc xóa sản phẩm này?');" class="btn btn-danger btn-sm">

                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            }

<td></td>
            <td></td>
            <td> Tổng số lượng </td>
            <td>@Model.Sum(m => m.iSoLuong)</td>
            <td>Tổng thành tiền</td>
            <td> @Model.Sum(m => m.dThanhTien).ToString("#,##0").Replace(',', '.') VND</td>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a href="h#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td>
                        <a href="@Url.Action("DatHang","GioHang")" class="btn btn-success btn-block">Đặt Hàng <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
            </tfoot>
       
    </table>
</div>
