@using PagedList
@using PagedList.Mvc;
@using Web_BanHang.DTO;
@using Web_BanHang.ViewModels;
@model SearchAuthorViewModels


@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    int count = 0;

}

@using (Html.BeginForm("Index", "TimKiem", FormMethod.Post, new { id = "form-search-book" }))
{
    <input type="hidden" name="sortProperty" id="hidden-sort-property" value="@Model.SortProperty" />
    <input type="hidden" name="sortOrder" id="hidden-sort-order" value="@Model.SortOrder" />
    <div class="container">
        <div class="row">

            <div>
                Chủ đề:  @Html.DropDownList("chudeID", Model.GroupChuDe, "All")
                Nhà Xuất Bản @Html.DropDownList("maNXB", Model.GroupNXB, "All")
                Tác Giả: @Html.DropDownList("maTacGia", Model.GroupTacGia, "All")
            </div>
            <div>
                <div style="float:right">
                    @Html.TextBox("searchString") <input type="submit" value="Tìm Kiếm">
                </div>
            </div>
        </div>
    </div>
    <div>
        <select id="hidden-Sort-Order-Option" onchange="sortOrderTenSach(this)">
            <option>Hiển thị theo</option>
            <option value="asc" @(Model.SortOrder == "asc" && Model.SortProperty == "MaSach" ? "selected" : "")>A->Z</option>
            <option value="desc" @(Model.SortOrder == "desc" && Model.SortProperty == "MaSach" ? "selected" : "")>Z->A</option>
        </select>
    </div>
}



<table class="table table-bordered table-danger" id="form--search-book">
    <tr>

        <th scope="col">
            Stt
        </th>
        <th scope="col" class="th-sm" width="200px">
            <button onclick="submit('TenSach')">
                <i class="fas fa-sort"></i>
                Tên sách
            </button>
        </th>
        <th scope="col" class="th-sm" width="50px">
            <button onclick="submit('GiaBan')">
                <i class="fa fa-sort"></i>
                @*vi du*@
                @*@if(SortDirection == 'GiaBan')
                    {
                        if(sortProperty == "asc")
                        {
                            <i class="fa fa-sort-alpha-up-alt"></i>
                        }
                        else
                        {
                            <i class="fa fa-sort-alpha-down"></i>
                        }
                    }*@
                Giá bán
            </button>
        </th>
        <th scope="col" class="th-sm">
            Mô  Tả
        </th>
        <th scope="col" class="th-sm" width="200px">
            Ảnh Bìa
        </th>
        <th scope="col" class="th-sm" width="100px">
            <button onclick="submit('TenChuDe')">
                <i class="fas fa-sort"></i>
                Chủ đề
            </button>
        </th>
        <th>
            <button onclick="submit('TenTacGia')">
                <i class="fas fa-sort">
                </i>
                Tác Giả
            </button>
        </th>
        <th>
            <button onclick="submit('TenNXB')">
                <i class="fas fa-sort"></i>
                Nhà Xuất Bản
            </button>
        </th>
    </tr>
    @foreach (var item in Model.GroupSach)
    {
        <tr>
            <td>
                @(Model.PageSerial + count)
            </td>
            <td>
                @item.TenSach
            </td>
            <td>
                @item.GiaBan
            </td>
            <td>
                @item.MoTa
            </td>
            <td>
                <img src="@Url.Content("~/HinhAnh/"+item.AnhBia)" width="150px" height="200px" />
            </td>
            <td>
                @item.TenChuDe
            </td>
            <td>
                @item.TenTacGia
            </td>
            <td>
                @item.TenNXB
            </td>
        </tr>
        count++;
    }
</table>
@*doan jquery nay chua co input với select giá trị @@ *@
@*Order  xac dinh nhung function khong sap xep duoc ten  sach theo chu de *@
@*????*@
<script>
    function sortOrderTenSach(obj) {

         
       
        $('hidden-sort-order').val('hidden-sort-property')
     
        var sortOrder = $('hidden-sort-order').val() ;
        var value = obj.value;
        if (value ==' ') {
            sortOrder == '  ';
            return false;
        }
        else {
            if (value == 'asc') {
                sortOrder == 'asc';
         
            }
            else {
                sortOrder == 'desc';               
            }
        }
        $('#hidden-sort-order').val(value);
        $('#hidden-sort-property').val('MaSach');
        $('#form-search-book').submit();
    }
    //function submit(sortProperty) {
    //     $('#hidden-sort-property').val(sortProperty);
    //     var sortOrder = $('#hidden-sort-order').val();
    //     if (sortOrder == '') {
    //         sortOrder = 'asc';
    //     } else if (sortOrder == 'asc') {
    //         sortOrder = 'desc';
    //     } else {
    //         sortOrder = 'asc';
    //     }
    //     $('#hidden-sort-order').val(sortOrder);
    //     $('#form-search-book').submit();
    // }
</script>
@using (Html.BeginForm("Index", "TimKiem", FormMethod.Post, new { id = "form-search-book" }))
{
    @Html.DropDownList("size", Model.GroupPageSizes, new { @onchange = "this.form.submit()" })
}

    trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model.GroupSach, page => Url.Action("Index", new { page = page }))
