@model Web_BanHang.Models.ChiTietDonHang

<div>
     
        <tr>
            <td scope="col">@Html.DisplayFor(model => model.MaDonHang)</td>
            <td scope="col">@Html.DisplayFor(model => model.Sach.MaSach)</td>
            <td scope="col">@Html.DisplayFor(model => model.Sach.TenSach)</td>
            <td scope="col"><img src="@Url.Content("~/HinhAnh/"+Model.Sach.AnhBia)" style="width:15%"></td>
            <td scope="col">@Html.DisplayFor(model => model.SoLuong)</td>
            <td scope="col">@Html.DisplayFor(model => model.DonGia)</td>
        </tr>
    
</div>
