@using Web_BanHang.Models;
@model Web_BanHang.Models.DonHang
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4>Chi tiết đơn hàng</h4>
<a href="@Url.Action("ThemMoi","QuanLyDonHang")"><i class="fas fa-plus-circle">Thêm Mới</i></a>

<div>
    <table class="table">
        <tr>
            <td scope="col">Mã Đơn hàng</td>
            <td scope="col"> @Html.DisplayFor(model => model.MaDonHang)</td>
            <td scope="col">Tên Khách Hàng</td>
            <td scope="col">@Html.DisplayFor(model => model.TenKH)</td>
            <td scope="col">Địa Chỉ</td>
            <td scope="col">@Html.DisplayFor(model => model.DiaChi)</td>

        </tr>
        <tr>
            <td scope="col">Địa chỉ nhận hàng</td>
            <td scope="col">@Html.DisplayFor(model => model.DiaChiNhanHang)</td>
            <td scope="col"> Email Khách Hàng</td>
            <td scope="col">@Html.DisplayFor(model => model.EmailKH)</td>
            <td scope="col"> Ngày Đặt</td>
            <td scope="col">@Html.DisplayFor(model => model.NgayDat) </td>
        </tr>
        <tr>
            <td scope="col"> Ngày Giao</td>
            <td scope="col">@Html.DisplayFor(model => model.NgayGiao) </td>
            <td scope="col"> Giao Hàng</td>
            <td scope="col">  @Html.DisplayFor(model => model.TinhTrangGiaoHang) </td>
            <td scope="col">Thanh toán</td>
            <td scope="col"> @Html.DisplayFor(model => model.TinhTrangThanhToan) </td>
        </tr>
        <tr>
            <td scope="col">Điện Thoại Khách Hàng</td>
            <td scope="col">@Html.DisplayFor(model => model.DienThoaiKH)</td>
            <td scope="col">Họ Tên người nhận</td>
            <td scope="col"> @Html.DisplayFor(model => model.KhachHang.Hoten)</td>
        </tr>
    </table>
</div>
<h2>Chi tiết đơn hàng</h2>
<table>
    <tr>
        <td scope="col">Mã đơn hàng</td>
        <td scope="col">Mã Sách</td>
        <td scope="col">Tên Sách</td>
        <td scope="col">Hình Ảnh</td>
        <td scope="col">Số lượng</td>
        <td scope="col">Đơn Giá</td>
    </tr>

    @foreach (var item in Model.ChiTietDonHangs)
    {
        @Html.Partial("_ChiTietHoaDon", item)
    }

</table>
<div class="footer-a">

</div>