@model  PagedList.IPagedList<Web_BanHang.Models.DonHang>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col" class="th-sm">
           Tên Khách Hàng
        </th>
        <th scope="col" class="th-sm">
           Địa Chỉ
        </th>
        <th scope="col" class="th-sm">
            Địa Chỉ Nhận Hàng
        </th>
        <th scope="col" class="th-sm">
            Email
        </th>
        <th scope="col" class="th-sm">
           Tình trạng giao hàng
        </th>
        <th scope="col" class="th-sm">
            Ngày đặt
        </th>
        <th scope="col" class="th-sm">
            Ngày giao
        </th>
        <th scope="col" class="th-sm">
            Tình trạng thanh toán
        </th>
        <th scope="col" class="th-sm">
            Điện thoại
        </th>
        
        <th scope="col" class="th-sm"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoaiKH)
        </td>
         
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDonHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDonHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDonHang })
        </td>
    </tr>
}
</table>
<center>
    @Html.PagedListPager(Model, Page =>
       Url.Action("Index", new { Page=Page, @class="page-link" }),
       new PagedListRenderOptions
       {
           ContainerDivClasses =  new string[] { "navigation" },
           LiElementClasses = new string[] {"page-item"}
       }
       )
</center>
@(Model.PageCount<Model.PageNumber?0: Model.PageNumber)/@Model.PageCount