@model  PagedList.IPagedList<Web_BanHang.Models.DonHang>


@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>
<a href="@Url.Action("ThemMoi","QuanLyDonHang")"><i class="fas fa-plus-circle">Thêm Mới</i></a>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col" class="th-sm">
            Mã Dơn Hàng
        </th>
        <th scope="col" class="th-sm">
            Ngày đặt
        </th>
        <th scope="col" class="th-sm">
            Tên Khách Hàng
        </th>
        <th scope="col" class="th-sm">
            Tổng thanh toán
        </th>
        <th scope="col" class="th-sm">
            Tình trạng
        </th>
        <th scope="col" class="th-sm"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DropDownListFor(modelItem=>item.TinhTrangGiaoHang, new List<SelectListItem>()
                           { /*new SelectListItem {Text="Chưa Thanh Toán", Value="null", Selected = item.TinhTrangGiaoHang.Value},*/
                             new SelectListItem{Text="Đang giao hàng", Value="false",Selected=item.TinhTrangGiaoHang.Value?item.TinhTrangGiaoHang.Value: false },
                             new SelectListItem{Text="Đã giao hàng", Value="true",Selected=item.TinhTrangGiaoHang.Value?item.TinhTrangGiaoHang.Value: true } })
                @Html.DropDownListFor(modelItem=>item.TinhTrangThanhToan, new List<SelectListItem>()
                           { new SelectListItem{Text="Chưa thanh toán", Value="false", Selected=item.TinhTrangThanhToan.Value?item.TinhTrangThanhToan.Value:true},
                           new SelectListItem{Text="Đã thanh toán", Value="true", Selected=item.TinhTrangThanhToan.Value?item.TinhTrangThanhToan.Value:false}})
            </td>

            <td>
                <a href="@Url.Action("ChiTiet","QuanLyDonHang", new {@iMaDonHang = item.MaDonHang })" class="btn"><i class="fas fa-eye"> Xem</i></a>
                <a href="@Url.Action("Xoa","QuanLyDonHang",new {@iMaDonHang = item.MaDonHang })" class="btn"><i class="fas fa-trash-alt"> Xóa</i></a>
            </td>
        </tr>
    }
</table>
 

<center>
    @Html.PagedListPager(Model, Page =>
       Url.Action("Index", new { Page=Page, @class="page-link" }),
       new PagedListRenderOptions
       {
           ContainerDivClasses =  new string[] { "navigation" },
           LiElementClasses = new string[] {"page-item"}
       }
       )
</center>
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount