@using Web_BanHang.Models;
@model Web_BanHang.Models.DonHang
@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<h2>Thêm mới đơn hàng</h2>
@using (Html.BeginForm("ThemMoi","QuanLyDonHang", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <span>Mã Đơn hàng</span>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.MaDonHang)
            </div>
        </div>
        <div class="form-group">
            <span>Tên Khách hàng</span>
            <div class="col-md-4">@Html.TextBox("txtTenKH")</div>
        </div>
        <div class="form-group">
            <span>Địa chỉ</span>
            <div class="col-md-4">@Html.TextBox("txtDiaChi")</div>
        </div>
        <div>
            <span>Địa chỉ nhận hàng</span>
            <div class="col-md-4">@Html.TextBox("txtDiaChiNh")</div>
        </div>
        <div class="form-group">
            <span>Điện thoại KH</span>
            <div class="col-md-4">@Html.TextBox("txtDienthoaiKh")</div>
        </div>
        <div class="form-group">
            <span>Email khách hàng</span>
            <div class="col-md-4">@Html.TextBox("txtEmail")</div>
        </div>
        <div class="form-group">
            <span>Ngày Đặt</span>
            <div class="col-md-4">
                @Html.TextBox("txtNgayDat",DateTime.Now.ToString())
                
            </div>
                
        </div>
        <div class="form-group">
            <span>Ngày giao</span>
            <div class="col-md-4">
                @*@Html.TextBox("txtNgayGiao")*@
                @*<input type="datetime"   name="txtNgayGiao" id="txtNgayGiao" />*@

                <input type='text'   class='datepicker' />
            </div>
        </div>
        <div class="form-group">
            <span>Tổng tiền</span>
            <div class="col-md-4">@Html.TextBox("txtTongTien")</div>
        </div>
        <div class="form-group">
            <span>Trạng thái</span>

            <div class="col-md-4">
                <span>Thanh Toán </span>
                
            </div>
            <div class="col-md-4">
                <span>Giao hàngs</span>
                
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <span>Mã Đơn Hàng</span>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.MaDonHang)
            </div>
        </div>
        <div class="form">
            <span>Tên sản phẩm</span>
            <div class="col-md-4">
                @Html.TextBox("txtTenSP")
            </div>
        </div>
        <div class="form-group">
            <span>Thể loại</span>
            <div class="col-md-4">
                @Html.DropDownList("MaNXB", (IEnumerable<SelectListItem>) ViewBag.MaNXB, "--Select NXB--" )
            </div>
        </div>
        <div class="form-group">
            <span>Số lương</span>
            <div class="col-md-4">
                @Html.TextBox("txtSoluong")
            </div>
        </div>
        <div class="form-group">
            <span>Đơn giá</span>
            <div class="col-md-4">
                @Html.TextBox("txtDonGia")
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo Sách" class="btn btn-default" />
        </div>
    </div> 
}
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        
        //startDate: '-3d'
    });
    //$(function () {
    //    $('#datetimepicker').datetimepicker();
    //});
    
</script>